# === General ===
node_modules/
build/
.DS_Store
.env
*.log

# === Backend ===
crm_backend/node_modules/
crm_backend/build/
crm_backend/config/firebaseServiceAccountKey.json

# === Flutter frontend ===
crm_frontend/.dart_tool/
crm_frontend/.idea/
crm_frontend/.vscode/
crm_frontend/build/
crm_frontend/ios/
crm_frontend/android/
crm_frontend/web/
crm_frontend/linux/
crm_frontend/windows/
crm_frontend/macos/

# Keep only lib folder in frontend
!crm_frontend/lib/
!crm_frontend/lib/**

# Keep backend code
!crm_backend/
!crm_backend/**/*.js
!crm_backend/**/*.json
